<header class="header">
  <div class="logo">
    <img src="assets/logo1.png" alt="Agrilink Logo">
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li>
        <a 
          [routerLink]="'/farmer/dashboard'" 
          class="nav-item" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">
          Dashboard
        </a>
      </li>
      
      
      <li>
        <a 
          [routerLink]="'/farmer/posts'" 
          class="nav-item" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">
          My posts
        </a>
      </li>
      <li>
        <a 
          [routerLink]="['/farmer', authService.getUserId(), 'orders']" 
          class="nav-item" 
          routerLinkActive="active">
          Orders
        </a>
      </li>
      <li>
        <a 
          [routerLink]="['/farmer', authService.getUserId(), 'orders','regular']" 
          class="nav-item" 
          routerLinkActive="active">
          Regular Orders
        </a>
      </li>
      <li>
        <a 
          [routerLink]="'/farmer/notifications'" 
          class="nav-item" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">
          Notifications
        </a>
      </li>
      

    </ul>
  </nav>
  <div class="user-profile">
    <div class="profile-circle">
      <img src="assets/user-avatar.png" alt="User Profile">
    </div>
  </div>
</header>
